<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <welcome-file-list>
        <welcome-file>board.html</welcome-file>
    </welcome-file-list>
  <servlet>
    <servlet-name>init</servlet-name>
    <servlet-class>ru.vitaly.controller.InitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>comp</servlet-name>
    <servlet-class>ru.vitaly.controller.CompServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>play</servlet-name>
    <servlet-class>ru.vitaly.controller.PlayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>restart</servlet-name>
    <servlet-class>ru.vitaly.controller.RestartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>winner</servlet-name>
    <servlet-class>ru.vitaly.controller.WinnerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>init</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>comp</servlet-name>
    <url-pattern>/comp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>play</servlet-name>
    <url-pattern>/play</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>restart</servlet-name>
    <url-pattern>/restart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>winner</servlet-name>
    <url-pattern>/winner</url-pattern>
  </servlet-mapping>

  <!--<filter>-->
    <!--<filter-name>appFilter</filter-name>-->
    <!--<filter-class>ru.vitaly.filter.AppFilter</filter-class>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
    <!--<filter-name>appFilter</filter-name>-->
    <!--<url-pattern>*</url-pattern>-->
  <!--</filter-mapping>-->
</web-app>